<div class="login-container animate__animated animate__zoomInDown">
  <form [formGroup]="user">
    <h2 class="title"> ThatOneMovie Login</h2>
    <mat-form-field>
      <input matInput matNativeControl formControlName="username" type="text" placeholder="Username"/>
    </mat-form-field>
    <mat-form-field>
      <input matInput matNativeControl formControlName="password" type="password" placeholder="Password"/>
    </mat-form-field>
    <button style="width: 80%" mat-raised-button class="mat-primary" (click)="signIn()">Login</button>
    <button style="width: 80%" mat-raised-button class="mat-primary" (click)="socialMediaSignIn()">Login with Google</button>
    <span class="mt-3">Don't have an account?</span>
    <a class="m-2" routerLink="register">Register</a>
    <span *ngIf="error" class="animate__animated" class="error-span">{{error}}</span>
  </form>
</div>

