<app-header></app-header>
<div class="d-flex flex-row flex-wrap justify-content-evenly">
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/zU0htwkhNvBQdVSIKB9s6hgVeFK.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/bQLrHIRNEkE3PdIWQrZHynQZazu.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/zU0htwkhNvBQdVSIKB9s6hgVeFK.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/bQLrHIRNEkE3PdIWQrZHynQZazu.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/zU0htwkhNvBQdVSIKB9s6hgVeFK.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/bQLrHIRNEkE3PdIWQrZHynQZazu.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/sWgBv7LV2PRoQgkxwlibdGXKz1S.jpg">

  </app-movie>
  <app-movie posterImgUrl = "https://image.tmdb.org/t/p/w600_and_h900_bestv2/bQLrHIRNEkE3PdIWQrZHynQZazu.jpg">

  </app-movie>
</div>

