<nav class="navbar d-flex flex-row align-items-center justify-content-between me-4 ms-4">
  <div class="logo animate__animated animate__fadeInDown">
    ThatOneMovie
  </div>
  <div class="d-flex mobile-responsive flex-row align-items-center">

    <div class="d-flex flex-row align-items-center justify-content-center responsive-margin">
      <div class="me-3 header-text">
        Critic Mode:
      </div>
      <mat-slide-toggle [(ngModel)]="showCriticMode" (click)="toggleDialog()"></mat-slide-toggle>
    </div>
    <div class="d-flex align-items-center">
      <mat-form-field>
          <mat-label class="header-text">
            Sort by:
          </mat-label>
          <mat-select (valueChange)="handleSortChange($event)">
            <mat-option *ngFor="let sort of sortingOptions" [value]="sort">{{sort}}</mat-option>
          </mat-select>
      </mat-form-field>
    </div>
  </div>
</nav>
<div *ngIf="username" class="ms-4 logo animate__animated animate__fadeInDown">
  <h2>Welcome: {{username}}</h2>
</div>
<div *ngIf="criticModeText">
  <h3 class="ms-4 animate__animated animate__fadeInDown" style="color: aliceblue;">Searching for: {{criticModeText}}</h3>
</div>
